@import "material";
@import "lia";

$fg: material-color('grey', '1000');
$bg: material-color('grey', '100');

$theme: (
    text: $fg,
    text-inv: $bg,
    background: $bg,
    background-inv: $fg,
    primary: material-color('indigo', '1000'),
    secondary: material-color('cyan', '350'),
    success: material-color('cyan', '800'),
    info: material-color('indigo', '1000'),
    warning: material-color('red', '900'),
    error: material-color('red', '500'),
    highlight-weight: normal,
);

@include create-theme($theme, vib);
