@import "config";

@mixin header($theme) {

    .lia-top-header {
      $_bg: map-get($theme, primary);
      $fg: color-contrast($_bg);
      $bg: mix($bg, $fg, 95%);

      @include flex(column, nowrap, flex-start, stretch, stretch);
      width: map-get($config, header-width);
      position: relative;
      margin-right: map-get($config, spacing-small);
      padding: map-get($config, spacing-normal) 0;
      flex: 1 1 auto;

      //background-color: #1f2a44;
      height: 43px;
      text-align: left;


      a {
                width: 100%;
                //white-space: nowrap;
                //overflow: hidden;
                //text-overflow: ellipsis;
                margin-top: map-get($config, spacing-small);
                margin-bottom: map-get($config, spacing-small);
                text-decoration: none;
                padding: map-get($config, spacing-small) map-get($config, spacing-normal);
                //word-wrap: normal;
                //word-break: keep-all;


                &:link {
                    $col: mix($fg, $bg, 80%);
                    color: $col;

                    &:hover {
                        color: lighten($col, 20%);
                    }

                    &:active {
                        color: darken($col, 20%);
                    }
                }

                &:visited {
                    $col: $fg;
                    color: $col;

                    &:hover {
                        color: lighten($col, 20%);
                    }

                    &:active {
                        color: darken($col, 20%);
                    }
                }

                &.lia-active {
                    $col: map-get($theme, primary);
                    $fg: color-contrast($col);
                    font-weight: map-get($theme, highlight-weight);
                    color: $fg;
                    background: $col;

                    &:hover {
                        color: lighten($fg, 20%);
                    }

                    &:active {
                        color: darken($fg, 20%);
                    }
                }

                &.lia-not-visited {
                    color: darken($fg, 30%);
                }

                &.lia-error {
                    color: rgb(1,0,0);
                    background: rgb(1,0,0);
                }

                &.lia-toc-l {
                    &1 { padding-left: 0 * map-get($config, spacing-large) + map-get($config, spacing-normal); }
                    &2 { padding-left: 1 * map-get($config, spacing-large) + map-get($config, spacing-normal); }
                    &3 { padding-left: 2 * map-get($config, spacing-large) + map-get($config, spacing-normal); }
                    &4 { padding-left: 3 * map-get($config, spacing-large) + map-get($config, spacing-normal); }
                    &5 { padding-left: 4 * map-get($config, spacing-large) + map-get($config, spacing-normal); }
                    &6 { padding-left: 5 * map-get($config, spacing-large) + map-get($config, spacing-normal); }
                }
            }
        }

    .lia-slide-animation {
      margin-left: 4px;
      padding-left: 5px;
      margin-right: 4px;
      padding-right: 5px;
      overflow-y: auto;
      transition: max-height 0.2s ease-out;
    }
}
